body {
	background-color: #f6f8ff;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	width: 100%;
	color: #4d5c71;
}

.wrapper {
	width: 95%;
	background-color: #fff;
	margin: 10 auto 0;
	border-top: 5px solid #0cbeab;
	box-shadow: 0 3px 2px rgba(60,72,88,.34);
	border-radius: 5px;
}

ul, li {
	padding: 0;
}

label, input, textarea, .date {
	font-size: 13px;
}

label, .date {
	margin-bottom: 3px;
}

input, textarea {
	font-weight: 100;
}

input, button, textarea, .logo {
	border-radius: 5px;
	border: 0.5px solid #d3dcf4;
	background: none;
}

textarea {
	height: 50px;
}

input,
textarea,
.total-field {
	margin-bottom: 20px;
}

input, button,.logo {
	height: 35px;
}

button, .submit, .logo {
	background-color: #5582fa;
	color: #fff;
}

h1 {
	font-size: 32px;
	font-weight: 400;
}

li {
	list-style: none;
}

.invoice-header {
	margin: 0 auto;
	width: 95%;
	display: flex;
	flex-direction: column;
}

.top {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number {
	width: 100px;
	text-align: center;
}

.number-label {
	position: relative;
}

.number-label > span {
	position: absolute;
	top: 10px;
	left: 10px;
}

input[type=file] {
	display: none;
}

.logo {
	width: 70px;
	display: flex;
	font-size: 14px;
	text-align: center;
	font-weight: 100;
	align-items: center;
	justify-content: center;
}

img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
}

input[name='dueDate'], input[name='paymentTerms'] {
	width: 145px;
}

input[name='dueDate'] {
	text-align: center;
}

.balance {
	color: #fea06d;
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0 35px;
}

.items-container, .label {
	display: flex;
	flex-direction: column;
}

.items-container {
	width: 95%;
	margin: 0 auto;
	border-top: 0.5px solid #d3dcf4;
}

.quantity, .rate {
	width: 100px;
}

.rate-label {
	margin-left: 15px;
}

.delete-line-item {
	height: 35px;
	width: 35px;
}

.top-area, .middle-area {
	display: flex;
	justify-content: space-between;
}

.top-area {
	margin-bottom: 10px;
}

.middle-area {
	justify-content: flex-start;
}

.add-line-item,
input[name=tax],
input[name=discount],
input[name=shipping],
input[name=amountPaid] {
	width: 100px;
}

.add-line-item {
	font-size: 14px;
	font-weight: 100;
}

.invoice-bill {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 95%;
}

.tax-area,
.discount-area,
.shipping-field,
.total-field,
.amount-paid-field {
	display: flex;
	justify-content: flex-end;
}

.tax-area,
.discount-area,
.shipping-field {
	align-items: center;
}

.tax-field,
.discount-field,
.shipping-field > div,
.amount-paid-field > div {
	display: flex;
	flex-direction: column;
}

.taxType, .discountType {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type=radio] + label {
	margin-right: 25px;
}

input[type=radio]:checked + label {
	font-weight: bold;
	color: red;
}

input[type=radio] {
	display: none;
}

input[name=tax],
input[name=discount],
input[name=shipping] {
	margin-bottom: 16px;
}

.hide-tax,
.hide-shipping,
.hide-discount {
	width: 35px;
	margin-left: 15px;
}

.buttons {
	display: flex;
	align-self: flex-end;
	flex-direction: column;
	margin-bottom: 15px;
}

.invoice-bill > span {
	align-self: flex-end;
	font-weight: 500;
}

.buttons button {
	background-color: #fff;
	border: none;
	border-radius: 0px;
	border-bottom: 0.5px solid #0cbeab;
	color: #0cbeab;
	font-size: 14px;
	height: 25px;
	width: auto;
	padding: 0;
}

.invoice-footer {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 95%;
}

input[name='terms'] {
	margin-bottom: 80px;
}

.footer {
	display: flex;
	flex-direction: column;
	width: 95%;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #ffffff;
}

.footer-buttons {
	display: flex;
	justify-content: flex-end;
}
