body {
	background-color: #f6f8ff;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	color: #4d5c71;
	box-sizing: border-box;
	padding: 0 2%;
}

.two-col-row {
  display: flex;
  flex-direction: column;
}

.two-col-left,
.two-col-right {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
	align-items: flex-end;
}

.flex-align-center {
  align-items: center;
}

.self-align-end {
	align-self: flex-end;
}

.fill-screen {
	height: 100%;
}

.colored-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 100;
  background-color: #5582fa;
	border: 0.5px solid #d3dcf4;
  color: #fff;
  border-radius: 5px;
  height: 35px;
  padding: 0px 13px;
  cursor: pointer;
}

.colored-link {
  font-size: 14px;
  border: none;
  border-radius: 0px;
  border-bottom: 0.5px solid #0cbeab;
  background: none;
  color: #0cbeab;
  height: 25px;
  padding: 0;
  cursor: pointer;
}

.form-field-label {
  font-size: 13px;
  margin-bottom: 3px;
}

.form-field-input {
  height: 35px;
  margin-bottom: 20px;
  background: none;
  border: 0.5px solid #d3dcf4;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 100;
}

.cursor-pointer {
	cursor: pointer;
}

.form-field-multiline {
  height: 50px;
}

.text-center {
	text-align: center;
}

.wrapper {
	max-width: 450px;
	margin: 10 auto 0;
	border-top: 5px solid #0cbeab;
	box-shadow: 0 3px 2px rgba(60,72,88,.34);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 0 2%;
}

h1 {
	font-size: 32px;
	font-weight: 400;
}

.color-larger-text {
	font-size: 18px;
	font-weight: bold;
	margin: 15px 0 35px;
	color: #fea06d;
}

input[type=radio] + label {
	margin-right: 25px;
}

input[type=radio]:checked + label {
	font-weight: 900;
}

.medium-weight-text {
	font-weight: 500;
}

.wrapper,
.footer {
	background-color: #ffffff;
}

input[type=radio]:checked + label,
.balance {
	color: #fea06d
}

form {
	margin-bottom: 100px;
}

ul,
li {
	padding: 0;
}

li {
	list-style: none;
}

.number-label {
	position: relative;
}

.label-position {
	position: absolute;
	top: 10px;
	left: 10px;
}

input[type=file],
input[type=radio] {
	display: none;
}

.logo-image {
	height: 75px;
	width: 75px;
	border-radius: 50%;
}

.logo-image:hover {
	opacity: 0.5;
	cursor: pointer;
}

.top-border {
	border-top: 0.5px solid #d3dcf4;
}

.a-bit-of-space-below {
	margin-bottom: 5px;
}

.space-left {
	margin-left: 15px;
}

.space-below {
	margin-bottom: 10px;
}

.more-space-below {
	margin-bottom: 15px;
}

.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
}

.add-margin-left {
	margin-left: 15px;
}

@media (min-width: 768px) {
	.wrapper,
	.footer {
		max-width: 850px;
	}

	.form-field-multiline {
		width: 290px;
		height: 90px;
	}

	.two-col-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .two-col-left {
    order: 1;
		flex-grow: 1;
  }

  .two-col-right {
    align-items: flex-end;
    order: 2;
  }

	.desktop-flex-row {
		flex-direction: row;
	}

	.flex-place {
		flex-grow: 10;
		align-self: flex-start;
		margin-right: 16px;
	}

	.top-margin {
		margin-top: 35px;
	}
}
